PORT = 3001
NODE_ENV = development

DATABASE_URL="postgresql://neondb_owner:npg_6swRlegiVo8Y@ep-dawn-bread-aoig5tq2-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

CLERK_PUBLISHABLE_KEY=pk_test_ZGVzaXJlZC1wYW5nb2xpbi0yNi5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_0GKiq353t2Vt1DDzDhvDIpgtxxgRDKvRULvkOWsS3k

SENTRY_DSN = https://3a209394f63a25fda1ff6c98de3495ce@o4511523297820672.ingest.de.sentry.io/4511535210168400

STREAM_API_KEY = gxm28p7qafsv
STREAM_API_SECRET = kpzrtvvw3m3m485aerdw6rmm98882spnyaf83kz9z6rj3yt9tabvfkkk98myqrqg

IMAGEKIT_PUBLIC_KEY = public_aO2WdL472Ztf4UVa4MM+oJX7kLo=
IMAGEKIT_PRIVATE_KEY = private_CgVCrJxSdjt5wh+TAiI+ZtdbtcM=
IMAGEKIT_URL_ENDPOINT = https://ik.imagekit.io/archanaseelan