PORT = 3001
NODE_ENV = development

DATABASE_URL="postgresql://neondb_owner:npg_1e4uTKxCoagN@ep-old-scene-aopujbks-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
# uncomment next line if you use Prisma <5.10
# DATABASE_URL_UNPOOLED="postgresql://neondb_owner:npg_1e4uTKxCoagN@ep-old-scene-aopujbks.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
CLERK_PUBLISHABLE_KEY=pk_test_ZGVzaXJlZC1wYW5nb2xpbi0yNi5jbGVyay5hY2NvdW50cy5kZXYk
CLERK_SECRET_KEY=sk_test_0GKiq353t2Vt1DDzDhvDIpgtxxgRDKvRULvkOWsS3k
CLERK_WEBHOOK_SECRET=whsec_PQjgFbtnZ6aiqNFNIW/dd6w4rYve0aQd

SENTRY_DSN = https://3a209394f63a25fda1ff6c98de3495ce@o4511523297820672.ingest.de.sentry.io/4511535210168400

STREAM_API_KEY = gxm28p7qafsv
STREAM_API_SECRET = kpzrtvvw3m3m485aerdw6rmm98882spnyaf83kz9z6rj3yt9tabvfkkk98myqrqg

IMAGEKIT_PUBLIC_KEY = public_aO2WdL472Ztf4UVa4MM+oJX7kLo=
IMAGEKIT_PRIVATE_KEY = private_CgVCrJxSdjt5wh+TAiI+ZtdbtcM=
IMAGEKIT_URL_ENDPOINT = https://ik.imagekit.io/archanaseelan

FRONTEND_URL = http://localhost:5173

POLAR_ACCESS_TOKEN = polar_oat_yc7tTbL5fenX6nfe0bOd762CT210HlyMnrpvP0pQ8Z0
POLAR_WEBHOOK_SECRET = polar_whs_SStgX0iX8sKiPBeyNoYcGw1MXa71FBItzuB5q2Yjtm1
POLAR_API_BASE = https://sandbox-api.polar.sh

POLAR_CHECKOUT_PRODUCT_ID = 57ddb381-b9af-4726-80b1-b9d9a7fd06a8